@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;700;900&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
 header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    background: #fd7e14;
    height: 60px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}
#head h2{
    margin-left: 100px;
    color: white;
}
#head nav{
    margin-right: 100px;
}

#head li{
    padding-top: 10px;
    display: inline-block;
    margin-right: 15px;
}

#head a{
    text-decoration: none;
    color: white;
}
#head a:hover{
    border-bottom: 3px solid white;

}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,rgb(255, 0, 157),rgb(255, 111, 0) 100%);
}
form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border-radius: 30px;
    border-left: 1px solid rgba(255, 255, 255, .3);

}
form::before{
    content: '';
    position: absolute;
    bottom: 20%;
    right: 36%;
    width: 200px;
    height: 200px;
    background: magenta;
    border-radius: 50%;
    z-index: -1;
    opacity: .8;
}
form::after{
    content: '';
    position: absolute;
    top: 24%;
    left: 38%;
    width: 120px;
    height: 120px;
    background: magenta;
    border-radius: 50%;
    z-index: -1;
    opacity: .8;
}
h1{
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    letter-spacing: 3px;
    margin-bottom: 5%;
    opacity: .7;
}
label{
    font-size: 20px;
    color: white;
    margin-left: 10%;
    opacity: .8;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}
input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,.6);
    opacity:.8;
}
button{
    width: 50%;
    margin: 3% auto;
    color: white;
    font-size: 15px;
    opacity: .7;
    background: rgba(255, 255, 255, .06);
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, .02);
    box-shadow: 3px 3px 5px rgba(31,38,135,.37);
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
}
a{
    font-size: 12px;
    text-align: center;
    opacity: .7;
    color: white;
}
#link{
    margin-top: 5px;
    font-weight: 500;
    text-decoration: none;
    color: yellow;
}
button:hover{
    background-color: white!important;
    color: #000;
}
@media(max-width:700px){
    form{
        width: 20rem;
        margin-right: 5px; 
        border: 2px black solid;
    }
}
